.swiper-container {
  @apply w-full h-auto;
}

/* These styles are used to override the Swiper.js navigation buttons */
.swiper-button-custom-arrow .swiper-button-next,
.swiper-button-custom-arrow .swiper-button-prev {
  @apply rounded-full bg-secondary flex items-center justify-center relative !h-16 !w-16;
}

/* These styles are used to override the Swiper.js navigation buttons alt */
.swiper-button-custom-arrow-alt .swiper-button-next,
.swiper-button-custom-arrow-alt .swiper-button-prev {
  @apply bg-primary text-secondary flex items-center justify-center relative;
}

.swiper-button-custom-arrow .swiper-button-next:after {
  content: "" !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27.6 27.6' style='enable-background:new 0 0 27.6 27.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231E201D;%7D%0A%3C/style%3E%3Cpath class='st0' d='M15,0.6l-3.2,3.1l7.4,7.4H0v5.2h19.2l-7.4,7.4l3.2,3.2l12.6-13.2L15,0.6z'/%3E%3C/svg%3E%0A");
  position: relative;
  width: 24px;
  height: 24px;
}

.swiper-button-next:after {
  content: "" !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50%' height='50%' viewBox='0 0 18 16.5'%3E%3Cpath fill='%23fff' d='M9.769 1L7.633 3.121l4.632 4.632H0v2.994h12.266l-4.633 4.632L9.769 17.5 18 9.25z' transform='translate(0 -1)'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 24px;
  height: 24px;
}

@media (max-width: 1024px) {
  .swiper-button-next:after {
    width: 12px;
    height: 12px;
  }
}

.swiper-button-prev:after {
  content: "" !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50%' height='50%' viewBox='0 0 18 16.5'%3E%3Cpath fill='%23fff' d='M9.769 1L7.633 3.121l4.632 4.632H0v2.994h12.266l-4.633 4.632L9.769 17.5 18 9.25z' transform='translate(0 -1)'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 24px;
  height: 24px;
}

@media (max-width: 1024px) {
  .swiper-button-prev:after {
    width: 12px;
    height: 12px;
  }
}

.swiper-button-custom-arrow .swiper-button-prev:after {
  content: "" !important;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.3.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 27.6 27.6' style='enable-background:new 0 0 27.6 27.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%231E201D;%7D%0A%3C/style%3E%3Cpath class='st0' d='M-32.6,0.6l-3.2,3.1l7.4,7.4h-19.2v5.2h19.2l-7.4,7.4l3.2,3.2L-20,13.8L-32.6,0.6z'/%3E%3Cpath class='st0' d='M12.6,26.9l3.2-3.1l-7.4-7.4h19.2v-5.2H8.4l7.4-7.4l-3.2-3.2L0,13.8L12.6,26.9z'/%3E%3C/svg%3E%0A");
  position: relative;
  width: 24px;
  height: 24px;
}

.swiper-button-custom-arrow-alt .swiper-button-next:after,
.swiper-button-custom-arrow-alt .swiper-button-prev:after {
  @apply text-lg font-bold text-center;
  position: relative;
}

.swiper-button-custom-arrow-alt .swiper-button-next.swiper-button-disabled,
.swiper-button-custom-arrow-alt .swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

.swiper-pagination-bullet {
  @apply !bg-transparent !border-white !border-2 !h-3 !w-3 !opacity-100;
}

.swiper-pagination-bullet-active {
  @apply !bg-secondary;
}

.custom-swiper-navigation {
  @apply -mt-8 2xl:-mt-16;
}
